{{ define "main" }}
<article class="message-card {{ if .Params.outgoing }}outgoing{{ end }}" {{ if eq .Params.msgType "4724" }}data-msgtype="secret"{{ end }}>
    <div class="message-header">
        {{ if not .Params.outgoing }}
            <img class="avatar" src="{{ .Params.avatar | default "/images/default-avatar.png" }}" alt="{{ .Params.username }}">
        {{ end }}
        <div class="message-meta">
            <span class="username">{{ .Params.username }}</span>
            <span class="timestamp">{{ .Date.Format "15:04" }} {{ .Date.Format "01/02/2006" }}</span>
        </div>
    </div>
    <div class="message-content">
        {{ .Content }}
        {{ with .Params.image }}
            <img class="message-image" src="{{ . }}" alt="Message attachment">
        {{ end }}
    </div>
</article>
{{ end }}
