{{ define "main" }}
    <script>
        // Array to store all message data
        let messages = [];
    </script>
    {{ range (where .Site.RegularPages "Section" "messages").ByDate }}
        <script>
            messages.push({
                type: {{ if eq .Params.type "system" }}"system"{{ else }}"message"{{ end }},
                content: {{ .Content | jsonify }},
                {{ if ne .Params.type "system" }}
                username: {{ .Params.username | jsonify }},
                timestamp: "{{ .Date.Format "15:04 01/02/2006" }}",
                outgoing: {{ .Params.outgoing | jsonify }},
                avatar: {{ .Params.avatar | default "/images/default-avatar.png" | jsonify }},
                {{ with .Params.msgimage }}image: {{ . | jsonify }},{{ end }}
                {{ with .Params.button1 }}button1: {{ . | jsonify }},{{ end }}
                {{ with .Params.button2 }}button2: {{ . | jsonify }},{{ end }}
                {{ with .Params.button3 }}button3: {{ . | jsonify }},{{ end }}
                {{ end }}
            });
        </script>
        {{ if eq .Params.type "system" }}
            <div class="system-message">{{ .Content }}</div>
        {{ else }}
            <article class="message-card {{ if .Params.outgoing }}outgoing{{ end }}">
                <div class="message-header">
                    {{ if not .Params.outgoing }}
                        <img class="avatar" src="{{ .Params.avatar | default "/images/default-avatar.png" }}" alt="{{ .Params.username }}">
                    {{ end }}
                    <div class="message-meta">
                        <span class="username">{{ .Params.username }}</span>
                        <span class="timestamp">{{ .Date.Format "15:04" }} {{ .Date.Format "01/02/2006" }}</span>
                    </div>
                </div>
                <div class="message-content">
                    {{ .Content }}
                    {{ with .Params.msgimage }}
                        <img class="message-image" src="{{ . }}" alt="Message attachment">
                    {{ end }}
                    {{ with .Params.button1 }}
                        <div class="button">{{ . }}</div>
                    {{ end }}
                    {{ with .Params.button2 }}
                        <div class="button">{{ . }}</div>
                    {{ end }}
                    {{ with .Params.button3 }}
                        <div class="button">{{ . }}</div>
                    {{ end }}
                </div>
            </article>
        {{ end }}
    {{ end }}
    <script>
        // Log the last message when all messages are loaded
        window.addEventListener('load', () => {
            if (messages.length > 0) {
                console.log('Last Message Information:');
                console.log(messages[messages.length - 1]);
                console.log('Total messages loaded:', messages.length);
            }
        });
    </script>
{{ end }}