{{ define "main" }}
    <div id="messages-container">
        {{ range (where .Site.RegularPages "Section" "messages").ByDate }}
            {{ if eq .Params.type "system" }}
                <div class="system-message" data-message-type="system">
                    {{ .Content }}
                </div>
            {{ else }}
                {{ $msgType := 0 }}
                {{ with .Params.msgType }}
                    {{ if eq (printf "%T" .) "map[string]interface {}" }}
                        {{ $msgType = .id }}
                    {{ else }}
                        {{ $msgType = . }}
                    {{ end }}
                {{ end }}
                <article class="message-card {{ if .Params.outgoing }}outgoing{{ end }}" 
                    data-message-type="message"
                    data-message-msgtype="{{ $msgType }}"
                >
                    <div class="message-header">
                        {{ if not .Params.outgoing }}
                            <img class="avatar" src="{{ .Params.avatar | default "/images/default-avatar.png" }}" alt="{{ .Params.username }}">
                        {{ end }}
                        <div class="message-meta">
                            <span class="username">{{ .Params.username }}</span>
                            <span class="timestamp">{{ .Date.Format "15:04" }} {{ .Date.Format "01/02/2006" }}</span>
                        </div>
                    </div>
                    <div class="message-content" data-message-msgtype="{{ $msgType }}">
                        {{ if eq $msgType 4724 }}
                            {{- upper .RawContent -}}
                        {{ else }}
                            {{ .Content }}
                        {{ end }}
                        {{ with .Params.msgimage }}
                            <img class="message-image" src="{{ . }}" alt="Message attachment">
                        {{ end }}
                        {{ with .Params.button1 }}
                            <div class="button">{{ . }}</div>
                        {{ end }}
                        {{ with .Params.button2 }}
                            <div class="button">{{ . }}</div>
                        {{ end }}
                        {{ with .Params.button3 }}
                            <div class="button">{{ . }}</div>
                        {{ end }}
                    </div>
                </article>
            {{ end }}
        {{ end }}
    </div>
{{ end }}